flask
flask-login
flask-sqlalchemy
alembic
python-dotenv
flask-limiter
flask-cors
flask-socketio
bleach
itsdangerous
pillow
gunicorn
gevent
gevent-websocket
pytest
pytest-flask
factory-boy
coverage
pymysql
faker
psycopg2-binary
